/* _____general_____ */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #c2d9ef;
    min-width: 335px;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    padding: 0;
    margin: 0;
    color: black;
    text-wrap: nowrap;
}

h2 {
    margin: 0;
    text-align: center;
}

p, ul {
    margin: 0;
    font-size: 12px;
}

.clickable:hover, button:hover {
    filter: brightness(1.2);
}

.clickable:active, button:active {
    filter: brightness(0.8);
}

.clickable, button {
    user-select: none;
}
/* ^^^^^general^^^^^ */


/* _____nav bar_____ */
.navBar {
    flex: 0 1 60px;
    background-color: #9bc1e6;
    color: white;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    max-width: 100%;
}

.navTop {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.logo img{
    cursor: pointer;
    max-height: 52px;
    justify-content: right;
}

.logo {
    justify-content: right;
}

h1 {
    flex: 1 1 auto;
    width: min-content;
    padding: 0;
    margin: 0;
    font-stretch: condensed;
}

.navButtons {
    max-width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    gap: 0.5rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.navButtons button {
    flex: 1 1 auto;
    background-color: #387eb6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12 px;
    padding: 12px;
}
/* ^^^^^nav bar^^^^^ */


/* _____carousel_____ */
.carousel {
    flex: 1 0 auto;
    text-align: center;
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 15px;
    border-radius: 15px;
    background-color: #e9f1f9;
    border: 10px solid #636669;
    margin-bottom: 0;
}

.carousel img {
    width: 100%;
    height: 100%;
    display: block;
}

.carousel button {
    border-radius: 5px;
    padding: 10px;
    height: 3rem;
    font-size: 120%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: hsla(0, 0%, 80%, 0.5);
    border: 1px solid rgb(141, 141, 141);
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
/* ^^^^^carousel^^^^^ */


/* _____info_____ */
.info {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column;
    max-width: 100%;
}

.section {
    flex: 1 1 auto;
    margin: 15px;
    margin-bottom: 0;
    padding: 15px;
    border-radius: 15px;
    background-color: #e9f1f9;
    border: 10px solid #636669;
    max-width: 100%;
}

.about {
    flex: 1 1 auto;
}

.contact {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    max-width: 100%;
}

.resume {
    background-color: #ade2a0;
    border: 10px solid #3f6835;
    cursor: pointer;
}

.resume img {
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin: auto;
    margin-top: 15px;
}
/* ^^^^^info^^^^^ */


/* _____spacing_____*/
.spacing {
    flex: 1 1 auto;
}
/* ^^^^^spacing^^^^^ */


/* _____footer_____ */
.footer {
    flex: 0 1 auto;
    background-color: #9bc1e6;
    font-size: 12 px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 15px;
    margin-top: 15px;
}

.footer ul {
    flex: 1 1 auto;
    width: 80%;
}
/* ^^^^^footer^^^^^ */